.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
        display: flex;
        flex-direction: column-reverse;
    }

    &__image {
        height: auto;
    }

    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 15px;
        text-align: center;

        @include mobile {
            padding-block: 40px;
        }
    }
    
    &__title {
        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }
    &__description {
        max-width: 490px;
        &:not(:last-child) {
            margin-bottom: 37px;

            @include mobile {
                margin-bottom: 20px;
            }
        }
    }
}